<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
	</head>
	<body>
		<form name="changePassword" id="forgot-password-form" action="/change-password/" method="POST">
			<fieldset class="no-border">
				<legend>Change your Password</legend>

				<div class="form-group">
					<label for="change-password-email" class="input-label required">
						<svg class="icon" fill="currentColor" width="20" height="20" role="img" aria-hidden="true">
							<use xlink:href="/img/icons.svg#mail"></use>
						</svg>
						<span>Email</span>
					</label>
					<input type="email" name="email" id="change-password-email" class="input" autocomplete="email" placeholder="user@example.com" required="" />
				</div>
				<div id="change-password-error" class="status-box alert error-message" hidden=""></div>
			</fieldset>
			<div class="center">
				<div class="status-box info inline-block">
					<p>An email with a reset link will be emailed to the registered email address</p>
				</div>
				<div class="status-box warn">
					<p>This feature is currently disabled until the site is completed.</p>
				</div>
			</div>
			<br />
			<div class="btns flex row no-wrap space-evenly">
				<button type="submit" class="btn btn-accept grow-1" title="Sign In">
					<svg class="icon" fill="currentColor" width="18" height="18">
						<use xlink:href="/img/icons.svg#dialog-password"></use>
					</svg>
					<span>Submit</span>
				</button>
				<button type="reset" class="btn btn-reject grow-1" title="Cancel" data-close="#change-password-dialog">
					<svg class="icon" fill="currentColor" width="18" height="18">
						<use xlink:href="/img/icons.svg#x"></use>
					</svg>
					<span>Cancel</span>
				</button>
			</div>
		</form>
	</body>
</html>
