<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
	</head>
	<body>
		<form name="reset" id="reset-form" action="/reset" method="POST">
			<div id="reset-avatar-container" class="center"></div>
			<fieldset class="no-border">
				<legend>Reset Password</legend>
				<input type="email" name="email" readonly="" hidden="" />
				<input type="hidden" name="token" />
				<div class="form-group">
					<label for="reset-password" class="input-label required">
						<svg class="icon" fill="currentColor" height="18" width="18" role="img" aria-hidden="true">
							<use xlink:href="/img/icons.svg#dialog-password"></use>
						</svg>
						<span>New Password</span>
					</label>
					<input type="password" name="password" id="reset-password" class="input" autocomplete="new-password" placeholder="********" minlength="8" maxlength="60" required="" />
				</div>
			</fieldset>
			<div class="center">
				<div id="reset-error" class="status-box alert error-message inline-block" hidden=""></div>
			</div>
			<div class="flex row no-wrap btns space-evenly">
				<button type="submit" class="btn btn-accept grow-1" title="Submit">
					<svg class="icon" fill="currentColor" width="20" height="20" role="img" aria-hidden="true">
						<use xlink:href="/img/icons.svg#dialog-password"></use>
					</svg>
					<span>Submit</span>
				</button>
				<button type="reset" class="btn btn-reject grow-1" title="Cancel">
					<svg class="icon" fill="currentColor" width="20" height="20" role="img" aria-hidden="true">
						<use xlink:href="/img/icons.svg#x"></use>
					</svg>
					<span>Cancel</span>
				</button>
			</div>
		</form>
	</body>
</html>
